@import model.SunInfo
@(dateTimeStr: String, sunInfo: SunInfo, temp: Double)
<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Home</title>
        <link rel="shortcut icon" type="image/png"
           href="@routes.Application.versioned("images/favicon.png")">
    </head>
    <body>
        <h1>Hello Play?</h1>
        <div>@{Math.random}</div>
        <div>Current time: @dateTimeStr</div>
        <div>Sunrise is: @sunInfo.sunrise</div>
        <div>SunSet is: @sunInfo.sunset</div>
        <div>Current temperature is: @temp</div>
    </body>
</html>
